.mainContent .leftSection {
  display: flex;
  justify-content: center;
  margin-bottom: 3em;
}

.mainContent .leftSpan {
  display: block;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background-color: #06b6d4;
  position: relative;
  margin-bottom: 2rem;
  overflow: hidden;
}

.mainContent .leftSpan img {
  position: absolute;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  object-fit: cover;
  animation: moveUp 2s ease-in;
  transition: transform 0.2s;
}

@keyframes moveUp {
  0% {
    bottom: -70%;
    display: none;
  }
  100% {
    bottom: 0;
    display: block;
  }
}

.mainRight article {
  margin-bottom: 2rem;
  font-size: 15px;
  animation: slideUp 1s ease-in;
}

.mainRight ul {
  list-style: none;
  padding: 0;
}

.mainRight ul li {
  line-height: 1.8rem;
  width: 100%;
  --bs-gutter-x: 0;
}

.whatIDo .myContainer {
  max-width: 150px;
  box-shadow: 0 5px 17px 2px rgb(0 0 0 / 15%);
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

.whatIDo .myContainer .logo {
  color: #06b6d4;
}

.whatIDo .myContainer span {
  line-height: 24px;
  text-align: center;
}

.whatIDo .myContainer:hover {
  background-color: #06b6d4;
}

.whatIDo .myContainer:hover .logo,
.whatIDo .myContainer:hover span {
  color: #fff;
}

section .mainContent ul {
  padding: 1rem;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
