.main {
  display: block;
}

.main .mainContent {
  animation: slideUp 1s ease-in;
}

section .sideBar p {
  color: #777;
  font-weight: bolder;
  font-size: 15px;
}

section .mainContent p {
  margin: 0;
}

section .mainContent .date {
  background-color: rgb(230, 130, 113);
  width: fit-content;
  font-size: .8em;
  padding: 8px;
  margin: .5rem 0;
  border-radius: 5px;
  font-weight: bolder;
}

section .mainContent ul {
  padding: 1rem;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.mainContent .stacks {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
  flex-wrap: wrap;
}