.resume {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 5rem);
}

.resumeContainer {
  background-color: #fff;
  height: 80vh;
  width: 90vw;
  max-width: 80rem;
  padding: 3rem;
  overflow-y: scroll;
}

h1 {
  font-size: 3em;
  margin-bottom: unset;
  font-family: "Merienda One", cursive;
}

h2 {
  font-size: 1.5em;
}

h3 {
  margin: unset;
}

.main {
  display: block;
}

section .sideBar p {
  color: #777;
  font-weight: bolder;
  font-size: 15px;
}

section .mainContent p {
  margin: 0;
}

section .mainContent .date {
  background-color: rgb(230, 130, 113);
  width: fit-content;
  font-size: .8em;
  padding: 8px;
  margin: .5rem 0;
  border-radius: 5px;
  font-weight: bolder;
}

section .mainContent ul {
  padding: 1rem;
}