.home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: calc(100vh - 5rem);
  color: #fff;
}

.homeContainer {
  width: 55%;
}

.homeContainer h1 {
  font-size: 4em;
}

.homeContainer h1 {
  border-right: 0.15em solid #006ed3;
  /* width: 100%; */
  white-space: nowrap;
  overflow: hidden;
  font-size: 4em;
  margin-bottom: 1rem;
  font-weight: bold;
}
.homeContainer h1:nth-child(1) {
  width: 6.2em;
  -webkit-animation: type 6s steps(45, end);
  animation: type 6s steps(45, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.homeContainer p {
  font-size: 1.8em;
  animation: rightToLeft 5s ease-in-out infinite;
}

.homeContainer nav ul {
  padding: 0;
  margin-top: 2rem;
}

.homeContainer nav ul li:first-child {
  margin-left: 0;
}

.homeContainer .icons ul li .icon {
  width: 1.7rem;
  height: 1.7rem;
  color: #fff;
}

.homeContainer .icons ul li .icon:hover {
  color: #06b6d4;
  border-bottom: 0px;
}

@media only screen and (max-width: 750px) {
  .home {
    justify-content: center;
  }

  .homeContainer {
    width: unset;
  }

  .homeContainer h1 {
    font-size: 3em;
    min-width: 200px;
  }

  .homeContainer .links ul {
    display: none;
  }
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid #006ed3;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: 0.15em solid blue;
  }
  100% {
    border: none;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}