.home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: calc(100vh - 5rem);
  color: #fff;
}

.homeContainer {
  width: 55%;
}

.homeContainer p {
  font-size: 1.2em;
}

.homeContainer h1 {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 1rem;
}

.homeContainer nav ul {
  padding: 0;
  margin-top: 1rem;
}

.homeContainer nav ul li:first-child {
  margin: 0;
}

.homeContainer .icons ul li .icon {
  width: 1.7rem;
  height: 1.7rem;
}

@media only screen and (max-width: 750px) {
  .home {
    padding-right: 1.5rem;
  }

  .homeContainer h1 {
    font-size: 3em;
  }

  .homeContainer .links ul {
    display: none;
  }
}
