.header {
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 0rem 3rem;
  position: sticky;
  top: 0;
  color: #fff;
  z-index: 1000;
}

.closeIcon {
  display: none;
  cursor: pointer;
}

.minIcon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.headerLinkIcon {
  display: none;
}

.logo {
  flex: 1;
  font-size: 3rem;
  cursor: pointer;
}

.logo a {
  color: #06b6d4;
}

nav ul {
  list-style: none;
  display: flex;
  flex: 1;
}

nav ul li {
  margin-left: 2rem;
  position: relative;
}

nav ul li a:hover {
  color: #878d99;
  font-weight: bold;
}

.header nav ul li:hover a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 4px solid #06b6d4;
  margin-bottom: -0.5rem;
  width: 70%;
  transition: transform 2s ease-in-out;
}

@media only screen and (max-width: 750px) {
  .header {
    height: 4rem;
  }

  .navigation {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background: #000;
  }

  .navigation2 {
    display: none;
  }

  .navigation ul {
    flex-direction: column;
    margin-top: 4rem;
    padding: 1rem;
  }

  .navigation ul li {
    margin: 1rem;
  }

  .navigation ul li a {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .navigation ul li a span {
    display: none;
  }

  .navigation:hover ul li a span {
    display: block;
  }

  .closeIcon {
    display: block;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .headerLinkIcon {
    display: block;
  }

  .minIcon {
    display: block;
  }
}
