.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 7rem);
    margin-bottom: 2rem;
}

.container {
    background-color: #fff;
    height: 80vh;
    width: 70vw;
    max-width: 80rem;
}